div.cardView table.gridtable {
    width: 100%;
    table-layout: fixed;
}

div.cardView table.gridtable caption {
    text-align: left;
    font-size: larger;
    font-weight: bolder;
    margin: 4px;
    border: 1px;
    border-color: #000000;
}

div.cardView div.card {
    border: 1px solid black;
    width: 30%;
    padding: 1%;
    float: left;
    word-wrap: break-word;
    min-height: 100px;
    margin: 5px;
    background-color: #e0ffff;
}

div.cardView table.gridtable td {
    width: 50%;
    border-color: #d3d3d3;
}

.drophover{
    background-color: yellow;
    border-color: red;
}

.drophoverCaption{
    background-color: green;
}
div.card div.drophover{
    border-color: red;
}

