div.cardView table.gridtable {
    width: 100%;
    table-layout: fixed;
}

div.cardView table.gridtable caption {
    text-align: left;
    font-size: larger;
    font-weight: bolder;
    margin: 4px;
    border: 1px;
    border-color: #000000;
}

div.cardView div.card {
    border: 1px solid black;
    width: 30%;
    padding: 1%;
    float: left;
    word-wrap: break-word;
    min-height: 100px;
    margin: 5px;
    background-color: #e0ffff;
}

div.cardView table.gridtable td {
    width: 50%;
    border-color: #d3d3d3;
}

.drophover {
    background-color: yellow;
    border-color: red;
}

.table caption.drophoverCaption {
    background-color: green;
}

.table drophoverCard {

    border: 1px solid red;
    /* border-color: red; */
}

.roundedBorder {
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
table.table{
    margin-bottom: 0px;
    padding: 0px;
}
table.table th, table.table td {
padding: 0px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #DDD;
}
