target/
target-eclipse/
web-app/plugins/
web-app/WEB-INF/classes/
.clover/
*.class
build/
out/
/.idea
/.idea/workspace.xml
/.clover
*.war
*.iws
*.iml
*.iws
*.ipr
*.log
*Db.properties
*Db.script
.settings
**/eclipse/
stacktrace.log
thumbs.db
atlassian-ide-plugin.xml
*.zip.sha1
*.zip
*.~sql
.idea/
out/
logs/
*.log
*~
.DS_Store
OntologyUi
**/target/
**/plugins/
#**/web-app/plugins/
**/web-app/WEB-INF/classes/
.*~
**/out/
*.hprof
**/logs/
*.*~
*.ipr
*.iml
**/.idea/
testChar*.*
testDRC*.*
emacs-*.*.*
**/cloverlicense/*.*
clover.license
bard-rest-api-wrapper/plugin.xml
functional-spock/plugin.xml
shopping-cart-0.8.2/plugin.xml