target/
target-eclipse/
web-app/plugins/
web-app/WEB-INF/classes/
.clover/
*.class
*.iml
*.iws
*.ipr
stacktrace.log
thumbs.db
atlassian-ide-plugin.xml
*.zip.sha1
*.zip
*.~sql
.idea/workspace.xml
.idea/misc.xml
.idea/vcs.xml
logs/