<plugin name='bard-domain-model' version='0.1.3' grailsVersion='2.0 &gt; *'>
  <author>Broad Chemical Biology Platform</author>
  <authorEmail>cbntsoftware@broadinstitute.org</authorEmail>
  <title>Bard Domain Model Plugin</title>
  <description>Provide domain objects for any objects wishing to directly access the Bard database.
</description>
  <documentation>https://github.com/broadinstitute/BARD/wiki/Bard-domain-objects-for-grails</documentation>
  <type>BardDomainModelGrailsPlugin</type>
  <resources>
    <resource>bard.db.dictionary.AssayDescriptor</resource>
    <resource>bard.db.dictionary.BiologyDescriptor</resource>
    <resource>bard.db.dictionary.Element</resource>
    <resource>bard.db.dictionary.ElementHierarchy</resource>
    <resource>bard.db.dictionary.InstanceDescriptor</resource>
    <resource>bard.db.dictionary.Laboratory</resource>
    <resource>bard.db.dictionary.Ontology</resource>
    <resource>bard.db.dictionary.OntologyItem</resource>
    <resource>bard.db.dictionary.ResultType</resource>
    <resource>bard.db.dictionary.Stage</resource>
    <resource>bard.db.dictionary.TreeRoot</resource>
    <resource>bard.db.dictionary.Unit</resource>
    <resource>bard.db.dictionary.UnitConversion</resource>
    <resource>bard.db.experiment.Experiment</resource>
    <resource>bard.db.experiment.GroupType</resource>
    <resource>bard.db.experiment.HierarchyType</resource>
    <resource>bard.db.experiment.Project</resource>
    <resource>bard.db.experiment.ProjectExperiment</resource>
    <resource>bard.db.experiment.Result</resource>
    <resource>bard.db.experiment.ResultContextItem</resource>
    <resource>bard.db.experiment.ResultHierarchy</resource>
    <resource>bard.db.experiment.Substance</resource>
    <resource>bard.db.experiment.SubstanceType</resource>
    <resource>bard.db.registration.Assay</resource>
    <resource>bard.db.registration.AssayDocument</resource>
    <resource>bard.db.registration.AttributeType</resource>
    <resource>bard.db.registration.ExternalReference</resource>
    <resource>bard.db.registration.ExternalSystem</resource>
    <resource>bard.db.registration.Measure</resource>
    <resource>bard.db.registration.MeasureContext</resource>
    <resource>bard.db.registration.MeasureContextItem</resource>
    <resource>bard.db.registration.Protocol</resource>
    <resource>bard.db.util.Qualifier</resource>
    <resource>changelog</resource>
    <resource>drop-retired-tables</resource>
    <resource>iteration-001.01-initial-base-line</resource>
    <resource>iteration-002.01-initial-changes</resource>
    <resource>manage-stored-procedures</resource>
    <resource>reset-sequences</resource>
  </resources>
  <repositories>
    <repository name='http://bard-repo:8081/artifactory/bard-virtual-repo' url='http://bard-repo:8081/artifactory/bard-virtual-repo/' />
    <repository name='grailsCentral' url='http://bard-repo:8081/artifactory/bard-virtual-repo' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <build>
      <dependency group='com.oracle' name='ojdbc6' version='11.2.0.2.0' />
    </build>
  </dependencies>
  <plugins>
    <build>
      <plugin group='org.grails.plugins' name='database-migration' version='1.1' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>