<plugin name='xmltojson' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>Jacob Asiedu</author>
  <authorEmail>bard-broadtech@broadinstitute.org</authorEmail>
  <title>Xmltojson Plugin</title>
  <description>Converts XML to JSON and JSON to XML. Copied from http://www.json.org/
</description>
  <documentation>http://www.json.org/</documentation>
  <type>XmltojsonGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>