<html>
<head>
<meta NAME="author" CONTENT="Peter Csizmadia">
    <script type="text/javascript" src="../../sh_main.js"></script>
    <script type="text/javascript" src="../../sh_javascript.js"></script>
    <script type="text/javascript" src="../../sh_html.js"></script>
    <link REL ="stylesheet" TYPE="text/css" HREF="../../sh_nedit.css" TITLE="Style">
<link REL ="stylesheet" TYPE="text/css" HREF="../../../marvinmanuals.css" TITLE="Style">
<title>MarvinView Example - XYZ animations</title>
</head>
<body onload="sh_highlightDocument();">

<h1>MarvinView Example - XYZ animations</h1>

In this example a molecular dynamic simulation is shown about the thermal motion of a segment of
a protein alpha helix. The simulation is provided by Raul E. Cachau &lt;cachau@ncifcrf.gov&gt;.

<p><center>
<script type="text/javascript" SRC="../../../marvin.js"></script>
<script type="text/javascript">
<!--
mview_begin("../../..", 561, 300);
mview_param("molbg", "#000000");
mview_param("atomSymbolsVisible", "false");
mview_param("animSync", "true");
mview_param("spin1", "30,1,-1,0");
mview_param("navmode", "rot3d");
mview_param("rendering", "spacefill");
mview_param("rows", "1");
mview_param("cols", "2");
mview_param("border", "1");
mview_param("layout", ":2:1:M:1:0:1:1:L:0:0:1:1:c:n:1:1");
mview_param("param", ":M:280:280:L:10b");
mview_param("cell0", ":../../../mols-3d/all_atoms_cyclic_traj.xyz.gz:All atoms");
mview_param("cell1", ":../../../mols-3d/backbone_atoms_cyclic_traj.xyz.gz:Backbone atoms only");
mview_end();
//-->
</script>
</center>

The <a HREF="../../../help/developer/viewman.html#3d.animSync">animSync</a> parameter is used to
synchronize the animation in the two cells.
The <a HREF="../../../help/developer/viewman.html#3d.spin">spin1</a> parameter sets the spinning rate
and axis for the right cell.

<blockquote>
<pre class="sh_html">
&lt;script type=&quot;text/javascript&quot; SRC=&quot;../../../<a HREF="../marvin.js.txt">marvin.js</a>&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
&lt;!--
</pre><pre class="sh_javascript">mview_begin(&quot;../../..&quot;, 561, 300);
mview_param(&quot;molbg&quot;, &quot;#000000&quot;);
mview_param(&quot;atomSymbolsVisible&quot;, &quot;false&quot;);
mview_param(&quot;animSync&quot;, &quot;true&quot;);
mview_param(&quot;spin1&quot;, &quot;30,1,-1,0&quot;);
mview_param(&quot;navmode&quot;, &quot;rot3d&quot;);
mview_param(&quot;rendering&quot;, &quot;spacefill&quot;);
mview_param(&quot;rows&quot;, &quot;1&quot;);
mview_param(&quot;cols&quot;, &quot;2&quot;);
mview_param(&quot;border&quot;, &quot;1&quot;);
mview_param(&quot;layout&quot;, &quot;:2:1:M:1:0:1:1:L:0:0:1:1:c:n:1:1&quot;);
mview_param(&quot;param&quot;, &quot;:M:280:280:L:10b&quot;);
mview_param(&quot;cell0&quot;, &quot;:../../../mols-3d/all_atoms_cyclic_traj.xyz.gz:All atoms&quot;);
mview_param(&quot;cell1&quot;, &quot;:../../../mols-3d/backbone_atoms_cyclic_traj.xyz.gz:Backbone atoms only&quot;);
mview_end();
</pre><pre class="sh_html">//--&gt;
&lt;/script&gt;
</pre>
</blockquote>

<p>Note, that this animation does not work in Netscape versions earlier than 4.0
because Java 1.1 is needed for unpacking the gzipped files.</p>

Description of the used parameters:
<ul>
    <li><a HREF="../../../help/developer/viewman.html#3d.animSync"><code>animSync</code></a></li>
    <li><a HREF="../../../help/developer/viewman.html#3d.spin"><code>spin1</code></a></li>
    <li><a HREF="../../../help/developer/viewman.html#parameters.navmode"><code>navmode</code></a></li>
    <li><a HREF="../../../help/developer/viewman.html#3d.rendering"><code>rendering</code></a></li>
</ul>

<p>
<center><div class="lenia">&nbsp;</div></center>
<p>

The next example shows how to
<a HREF="stereoconfig.html">visualize chirality</a> in the viewer.

</body>
</html>
