<html>
<head>
<meta NAME="author" CONTENT="Peter Csizmadia">
    <script type="text/javascript" src="../../sh_main.js"></script>
    <script type="text/javascript" src="../../sh_javascript.js"></script>
    <script type="text/javascript" src="../../sh_html.js"></script>
    <link REL ="stylesheet" TYPE="text/css" HREF="../../sh_nedit.css" TITLE="Style">
<link REL ="stylesheet" TYPE="text/css" HREF="../../../marvinmanuals.css" TITLE="Style">
<title>MarvinView Example - Embedding MarvinView applet in HTML pages</title>
</head>
<body onload="sh_highlightDocument();">

<h1>MarvinView Example - Embedding MarvinView applet in HTML pages</h1>

The basic way of embedding that works with Swing, with and without Java Plug-in
is similar to the one described in
<a HREF="../sketch/embed.html">MarvinSketch Example - Embedding MarvinSketch applet in HTML pages</a>:
<blockquote>
<pre class="sh_html">
&lt;script type=&quot;text/javascript&quot; SRC=&quot;../../../<a HREF="../marvin.js.txt">marvin.js</a>&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
&lt;!--
</pre><pre class="sh_javascript"><em>// marvin_jvm = &quot;builtin&quot;; // &quot;builtin&quot; or &quot;plugin&quot;</em>
mview_begin(&quot;../../..&quot;, 200, 200); //arguments: codebase, width, height
// you could also use the mview_begin(&quot;../../..&quot;, 200, 200, true ); function call to load the applet without splash screen.
mview_param(&quot;mol&quot;, &quot;../../../mols-2d/caffeine.mol&quot;);
mview_end();
</pre><pre class="sh_html">//--&gt;
&lt;/script&gt;
</pre>
</blockquote>

<center>
<script type="text/javascript" SRC="../../../marvin.js"></script>
<script type="text/javascript">
<!--
// marvin_jvm = "builtin"; // "builtin" or "plugin"
mview_begin("../../..", 200, 200);
mview_param("mol", "../../../mols-2d/caffeine.mol");
         mview_param("rendering", "wireframe");

          mview_param("atomSymbolsVisible", "true");
          mview_param("viewCarbonVisibility", "off");
          mview_param("explicitH", "true");
          mview_param("implicitH", "all");
mview_end();
//-->
</script>
</center>


<p>The traditional applet tag for MarvinView and the built-in JVM can be used the
following way:
<blockquote>
<pre class="sh_html">
&lt;applet CODEBASE="../../.." ARCHIVE=&quot;appletlaunch.jar&quot; CODE=&quot;JMViewLaunch&quot; WIDTH=200 HEIGHT=200&gt;
&lt;param NAME=&quot;mol&quot; VALUE=&quot;../../../mols-2d/caffeine.mol&quot;&gt;
&lt;strong&gt;Your browser does not support the applet tag.&lt;/strong&gt;
&lt;/applet&gt;
</pre>
</blockquote>

Description of the used parameters:
<ul>
    <li><a HREF="../../../help/developer/viewman.html#parameters.mol"><code>mol</code></a></li>
</ul>


<p>
<center><div class="lenia">&nbsp;</div></center>
<p>
<a HREF="sdtable.html">The next example shows how to load molecules from an SD file to a molecule table.</a>

</body>
</html>
