<html>
<head>
<meta NAME="author" CONTENT="Judit Vasko-Szedlar, Tamas Vertse">
<link REL ="stylesheet" TYPE="text/css" HREF="../../../marvinmanuals.css" TITLE="Style">
<title>MarvinView Applet Examples</title>
</head>
<body>
<center>
<h1>MarvinView Applet Examples</h1>
<h3>Version 5.10.1</h3>
</center>

<ol>
<li>Viewing a molecule
    <ol>
    <li><a HREF="embed.html"><b>Embedding MarvinView applet in HTML pages</b></a><br> The basic ways of creating Marvin Applets and embedding them in
HTML pages.</li>
    </ol>
    </li>
<li>Molecule tables
    <ol>
    <li><a HREF="sdtable.html"><b>Loading molecules from an SD file to a molecule table</b></a><br> The simplest way of visualizing multi-molecule files in tabular format.</li>
    <li><a HREF="transfering.html"><b>Editing the structures of the molecule table with MarvinSketch</b></a><br> Altering the structures of the molecule table with MarvinSketch,
and transferring them back to the table.</li>
    <li><a HREF="advancedtable.html"><b>Creating an advanced molecule table</b></a><br> Individual setting of the contents of each cells.</li>
    <li><a HREF="advancedcomponents.html"><b>Adding advanced components to molecule tables</b></a><br> Placing labels, images in the table as additional components beside the molecules.</li>
    <li><a HREF="advancedlayout.html"><b>Fine-tuning the layout</b></a><br> Polishing the layout of the advanced components (labels, images) inside the cells.</li>
    <li><a HREF="javascripting.html"><b>JavaScripting, CGI scripting using buttons and checkboxes</b></a><br> Some more advanced components to place in the cells beside the molecules: buttons and checkboxes that trigger events.</li>
    </ol>
    </li>
<li>Configuring MarvinView
    <ol>
    <li><a HREF="configure1.html"><b>Compression, color, magnification, atom size, hydrogen labels</b></a><br> Customizing some of the basic display settings.</li>
    <li><a HREF="configure2.html"><b>Background colors, 3D, rotation</b></a><br> Setting up a molecule table in 3D view using automated rotation.</li>
    <li><a HREF="configure3.html"><b>3D Viewer settings</b></a><br> The 3D settings, automatic rotation and related options in focus.</li>
    <li><a HREF="configure4.html"><b>XYZ animations</b></a><br> Creating a table where 3D motion of molecules is simulated and the animation of the cells is synchronized.</li>
    <li><a HREF="stereoconfig.html"><b>Display stereo configurations</b></a><br> Demonstrating options to visualize chirality and E/Z isomer information of molecules.</li>
    </ol>
</li>
<li>Manipulating table contents
    <ol>
        <li><a HREF="editable.html"><b>Editable table</b></a> <br> Using JavaScript to retrieve data to and from the applet.
<!--        <li><a HREF="selection.html">Selecting atoms</a></li>-->
        <li><a HREF="atomcoloring.html"><b>Atom coloring</b></a><br> Highlighting a subset of atoms with a custom color.</li>
        <li><a HREF="colorsets.html"><b>Coloring atom and bond sets</b></a><br> Highlighting pre-defined sets of atoms and/or bonds using JavaScript.</li>
    </ol>
</li>
<li><a HREF="japanese.html"><b>Japanese character support</b></a><br> East-Asian character support demonstrated by direct usage of Japanese characters as parameter values.</li>
<li>Events and Listeners
    <ol>
        <li><a href="listeners.html"><b>Listening for events in applets</b></a><br> Handling PropertyChange and MouseEvent events fired by the applets.</li>    
    </ol>
</li>
    <li>Molecular property calculations
        <ol>
            <li><a href="chemicalterms.html"><b>Molecular property calculations with Chemical Terms</b></a><br> Accessing and evaluating <a href="../../../help/chemicalterms/">Chemical Terms</a> expressions using JavaScript. </li>
        </ol>
    </li>
</ol>
<center><div class="lenia">&nbsp;</div></center>

<p ALIGN=CENTER><small>Copyright &copy; 1998-2011
<a HREF="http://www.chemaxon.com" TARGET="_top">ChemAxon Ltd.</a>
&nbsp;&nbsp;&nbsp;All rights reserved.</small></p>

</body>
</html>
