<html>
<head>
<meta NAME="author" CONTENT="Peter Csizmadia">
    <script type="text/javascript" src="../../sh_main.js"></script>
    <script type="text/javascript" src="../../sh_javascript.js"></script>
    <script type="text/javascript" src="../../sh_html.js"></script>
    <link REL ="stylesheet" TYPE="text/css" HREF="../../sh_nedit.css" TITLE="Style">
<link REL ="stylesheet" TYPE="text/css" HREF="../../../marvinmanuals.css" TITLE="Style">
<title>MarvinView Example - Listening for events in applets</title>
</head>
<body onload="sh_highlightDocument();">

<h1>MarvinView Example - Listening for events in applets</h1>

<p>In this example the <code>java.beans.PropertyChange</code> and
    <code>java.awt.event.MouseEvent</code> events that are fired by the MarvinView applet
    are logged in the text areas below the applet.</p>
<p><center>
</center>

<p>
<table cellspacing="5">
    <tr>
        <td colspan="2" align="center">
<script type="text/javascript" SRC="../../../marvin.js"></script>
<script type="text/javascript">
<!--

mview_name="MView";
mview_mayscript="true";
mview_begin("../../..", 400, 300);
mview_param("mol","C1=CNC=C1");
//mview_param("editable", 2);
mview_param("detachable", "false");
mview_param("listenpropertychange","true");
mview_param("listenmouseevent","true");
mview_end();

function propertyChange(prop) {
    var s = document.eventform.txt.value;
    s = s + prop + "\n";
    document.eventform.txt.value = s;
}
function mouseEvent(evt) {
    var s = document.mouseform.txt.value;
    s = s + evt + "\n";
    document.mouseform.txt.value = s;
}
//-->

</script>            
        </td>
    </tr>
    <tr>
        <td>Property Change Events:</td>
        <td>Mouse Events:</td>
    </tr>
    <tr>
        <td>
            <form name="eventform">
            <textarea name="txt" rows=10 cols=40 readonly>
            </textarea>
            </form>
        </td>
        <td>
            <form name="mouseform">
            <textarea name="txt" rows=10 cols=40 readonly>
            </textarea>
            </form>
        </td>
    </tr>
</table>

<p>The 2 main parameters are <a HREF="../../../help/developer/viewman.html#parameters.listenpropertychange"><code>listenpropertychange</code></a>
and <a HREF="../../../help/developer/viewman.html#parameters.listenmouseevent"><code>listenmouseevent</code></a>.
They trigger calls to the <code>propertyChange</code> and <code>mouseEvent</code> JavaScript methods.</p>
<blockquote>
<pre class="sh_html">
&lt;script type=&quot;text/javascript&quot; SRC=&quot;../../../marvin.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
&lt;!--
</pre><pre class="sh_javascript">mview_name=&quot;MView&quot;;
mview_mayscript=&quot;true&quot;;
mview_begin(&quot;../../..&quot;, 400, 300);
mview_param(&quot;mol&quot;,&quot;C1=CNC=C1&quot;);
mview_param(&quot;detachable&quot;, &quot;false&quot;);
mview_param(&quot;listenpropertychange&quot;,&quot;true&quot;);
mview_param(&quot;listenmouseevent&quot;,&quot;true&quot;);
mview_end();

function propertyChange(prop) {
    var s = document.eventform.txt.value;
    s = s + prop + &quot;\n&quot;;
    document.eventform.txt.value = s;
}
function mouseEvent(evt) {
    var s = document.mouseform.txt.value;
    s = s + evt + &quot;\n&quot;;
    document.mouseform.txt.value = s;
}
</pre><pre class="sh_html">//--&gt;
&lt;/script&gt;
</pre>
</blockquote>

The code of the 2 used HTML forms are shown below:
<blockquote>
<pre class="sh_html">
&lt;form name=&quot;eventform&quot;&gt;
&lt;textarea name=&quot;txt&quot; rows=10 cols=40 readonly&gt;
&lt;/textarea&gt;
&lt;/form&gt;


&lt;form name=&quot;mouseform&quot;&gt;
&lt;textarea name=&quot;txt&quot; rows=10 cols=40 readonly&gt;
&lt;/textarea&gt;
&lt;/form&gt;
</pre>
</blockquote>

<center><div class="lenia">&nbsp;</div></center>


</body>
</html>
