carsSpreadsheetHeaders {
    projectUid = "Project UID"

    aidNumber = "AID#"

    grantNumber = "Grant #"

    assayName = "Assay Name"

    assayTarget = "Assay Target"

    assaySubtype = "Assay Sub-type"

    assayCenter = "Assay Center"

    grantTitle = "Grant Title"

    assayProvider = "Assay Provider"
}