.right-aligned {
    text-align: right;
}

.nav-tabs {
    margin-bottom: 0;
    padding-left: 20%;
} /* Override of default margin */

.tab-pane {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.tab-content > .active, .pill-content > .active {
    display: block;
    margin-top: -1px;
    min-height: 200px;
}
