.right-aligned {
    text-align: right;
}

.nav-tabs {
    margin-bottom: 0;
    padding-left: 20%;
} /* Override of default margin */

.tab-pane {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.tab-content > .active, .pill-content > .active {
    display: block;
    margin-top: -1px;
    min-height: 200px;
}

h1.detail {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

div.header > h3 {
    margin: 5px;
}

.header dl {
    margin-top: 0px;
    margin-bottom: 5px;
}

a.removeXMark {
    color: #EE0000;
    outline: none;
    text-decoration: none;
    font-size: 18;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.qcartDescriber {
    display: block;
    outline: none;
    text-decoration: none;
    font-size: 14;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


}

div.cntrcart {
    vertical-align: middle;
    text-align: justify;
    width: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
div.cntrcart img {
    display: block;
    margin: 0 auto;
}

div.leftofline {
    margin-left: 30px;
    float: left;
}
div.rightofline {
    margin-right: 30px;
    float: right;
}

div.facets {
    background-color: rgba(157, 252, 157, 0.2);
    padding: 2px;
    border: 1px solid #d3d3d3;
}

ul.results > li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #d3d3d3;
}


.indicatorpanel {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    background: #ffffff;
    border:1px solid #111111;
    width: 200px;
    height: auto;
}


.panel {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    background: #ffffff;
    border:1px solid #111111;
    width: 330px;
    height: auto;
    padding: 30px 30px 30px 30px;
    background-color: #E4F1DF;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tinyclickfordetails {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: xx-small;
    font-weight: bold;
    padding-left: 2px;
    margin: 2px;
}
.clicktohidequerycart {
    text-decoration: none;
    margin: 2px;
}

div.qcart  {
    background-color: #ddd;
}

span.qcartTitle  {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: x-large;
    font-weight: normal;
}
span.qcartResults  {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: medium;
    font-weight: bold;
}

table.QcartSubsection{
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
}

table.QcartAppearance  {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}

div.QcartAppearance  {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    display: block;
}

div.addtocartholder{
    padding: 0;
    border: 0 none;
}
a.addtocart { //right
    width:200px;
    height: 200px;
}
img.addtocart {  //left
width:200px;
    float:left;
}

span.addtocartholder{
    padding: 0;
    border: 0 none;
}
h3.addtocart {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: x-large;
    font-weight: normal;
}
span.addtocart {
    width:100px;
    float:right;
    font-size: medium;
    font-weight: normal;
    height: 100px;
    background-color:#ccf;
}
span.addtocartfont {
    margin-left: 20;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: medium;
    font-weight: bold;
}
