.overlay {
    left: 50%;
    position: absolute;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    /*display: none;*/
    margin-top: -10px;
    background: #000;
    color: #FFF;
}
th[data-sort]{
    cursor:pointer;
}

/* just some random additional styles for a more real-world situation */
#msg {
    color: #0a0;
    text-align: center;
}
.disabled {
    opacity: 0.5;
}
