project {
    //this maps an ontology ID to a field/property name in ProjectFromCarsSpreadsheet
    attributeMap = [567:"grantNumber", 559:"assayCenter"]

    //this maps an ontology ID to a map that maps values in the CARS spreadsheet (case-insensitive) to ontology IDs
    //for example, 559 in the ontology is laboratory, and the corresponding map indicates that "Burnham" found in a CARS spreadsheet
    //corresponds to an ontology item with ID 802 (Sanford-Burnham Center for Chemical Genomics)
    valueMap = [559:["Burnham":802, "Broad":796, "Emory":798, "Hopkins Screening":799, "NCGC":800, "Penn":805, "Pitt":807, "Scripps":806, "SRI":803, "SRI Screening":803, "UNM":801, "Vanderbilt":808, "Vanderbilt Chemistry":808, "ChemBank":1413, "DTP.NCI":1414, "SGCOxCompounds":804]]
}

experiment {
    //this maps an ontology ID to a field/property name in ExperimentFromCarsSpreadsheet
    attributeMap = [556:"assayTarget"]

    //this maps an ontology ID to a map that maps values in the CARS spreadsheet (case-insensitive) to ontology IDs
    //for example, 556 in the ontology is assay stage, and the corresponding map indicates that "Primary" in the CARS spreadsheet
    //corresponds to an ontology item with ID 573 (primary assay)
    valueMap = [556:["Primary":573, "Secondary":574]]
}

projectStep {
    //this maps an ontology ID to a field/property name in ExperimentFromCarsSpreadsheet
    attributeMap = [556:"not applicable do not use"]

    //this maps an ontology ID to a map that maps values in the CARS spreadsheet (case-insensitive) to ontology IDs
    //for example, 556 in the ontology is assay stage, and the corresponding map indicates that "Primary" in the CARS spreadsheet
    //corresponds to an ontology item with ID 573 (primary assay)
    valueMap = [556:["Primary":573, "Secondary":574, "Selectivity/Specificity Assay":635, "Alternate Assay":633, "Counter-screen Assay":634, "Orthagonal":646]]
}

