<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta NAME="author" CONTENT="Andras Volford">
    <script type="text/javascript" src="../../sh_main.js"></script>
    <script type="text/javascript" src="../../sh_javascript.js"></script>
    <script type="text/javascript" src="../../sh_html.js"></script>
    <link REL ="stylesheet" TYPE="text/css" HREF="../../sh_nedit.css" TITLE="Style">
<link REL ="stylesheet" TYPE="text/css" HREF="../../../marvinmanuals.css" TITLE="Style">
<title>MarvinView Example - Display stereo configurations</title>
</head>
<body onload="sh_highlightDocument();">

<h1>MarvinView Example - Display stereo configurations</h1>

This example demonstrates how to display stereo configuration of molecules.
<p>

<h4>1. Default settings: no chirality is shown</h4>
<center>
<script type="text/javascript" SRC="../../../marvin.js">
</script>
<script type="text/javascript">
<!--
mview_begin("../../..", 600, 200);
mview_param("tabScale", "25");
mview_param("background", "#ffffff");
mview_param("molbg", "#ffffff");
mview_param("rows", "1");
mview_param("cols", "3");
mview_param("cell0", "|../../../mols-2d/l-tryptophan.csmol");
mview_param("cell1", "|../../../mols-2d/morphine.csmol");
mview_param("cell2", "|../../../mols-2d/dimethyl-octadien.csmol");
mview_end();
//-->
</script>
<p>
</center>

<p>
In the first case, the R/S chirality labels are hidden on the molecules. (This is the default option in Marvin.)<br>
The code below is simply initializing a molecule table without any customization about chirality.
<blockquote>
<pre class="sh_javascript">mview_name = &quot;MView&quot;;
mview_begin(&quot;../../..&quot;, 600, 200);
mview_param(&quot;tabScale&quot;, &quot;25&quot;);
mview_param(&quot;background&quot;, &quot;#ffffff&quot;);
mview_param(&quot;molbg&quot;, &quot;#ffffff&quot;);
mview_param(&quot;rows&quot;, &quot;1&quot;);
mview_param(&quot;cols&quot;, &quot;3&quot;);
mview_param(&quot;cell0&quot;, &quot;|../../../mols-2d/l-tryptophan.csmol&quot;);
mview_param(&quot;cell1&quot;, &quot;|../../../mols-2d/morphine.csmol&quot;);
mview_param(&quot;cell2&quot;, &quot;|../../../mols-2d/dimethyl-octadien.csmol&quot;);
mview_end();
</pre>
</blockquote>

<h4>2. Showing chirality labels on molecules having chirality flag</h4>

<center>
<script type="text/javascript" SRC="../../../marvin.js">
</script>
<script type="text/javascript">
<!--
mview_begin("../../..", 600, 200);
mview_param("tabScale", "25");
mview_param("chiralitySupport","selected");
mview_param("background", "#ffffff");
mview_param("molbg", "#ffffff");
mview_param("rows", "1");
mview_param("cols", "3");
mview_param("cell0", "|../../../mols-2d/l-tryptophan.csmol");
mview_param("cell1", "|../../../mols-2d/morphine.csmol");
mview_param("cell2", "|../../../mols-2d/dimethyl-octadien.csmol");
mview_end();
//-->
</script>
<p>
</center>


<p>Set the value of <a HREF="../../../help/developer/viewman.html#parameters.chiralitySupport">chiralitySupport</a>
parameter to <code>selected</code> to display chirality on those molecules only where the chiral
flag is set. (In this example, the chiral flag is specified for only the first two molecules.)

<blockquote>
<pre class="sh_javascript">
mview_name = &quot;MView&quot;;
mview_begin(&quot;../../..&quot;, 600, 200);
mview_param(&quot;tabScale&quot;, &quot;25&quot;);
mview_param(&quot;chiralitySupport&quot;, &quot;selected&quot;);
mview_param(&quot;background&quot;, &quot;#ffffff&quot;);
mview_param(&quot;molbg&quot;, &quot;#ffffff&quot;);
mview_param(&quot;rows&quot;, &quot;1&quot;);
mview_param(&quot;cols&quot;, &quot;3&quot;);
mview_param(&quot;cell0&quot;, &quot;|../../../mols-2d/l-tryptophan.csmol&quot;);
mview_param(&quot;cell1&quot;, &quot;|../../../mols-2d/morphine.csmol&quot;);
mview_param(&quot;cell2&quot;, &quot;|../../../mols-2d/dimethyl-octadien.csmol&quot;);
mview_end();
</pre>
</blockquote>

<h4>3. Showing chirality labels and E/Z isomer information on all molecules</h4>

<p>
Set the value of the
<a HREF="../../../help/developer/viewman.html#parameters.chiralitySupport">chiralitySupport</a>
parameter to <code>all</code> and the
<a HREF="../../../help/developer/viewman.html#parameters.ezVisible">ezVisible</a> parameter
to <code>true</code> to display the
chirality and the E/Z isomer information of all molecules.
<center>
<script type="text/javascript" SRC="../../../marvin.js">
</script>
<script type="text/javascript">
<!--
mview_begin("../../..", 600, 200);
mview_param("tabScale", "25");
mview_param("ezVisible", "true");
mview_param("chiralitySupport", "all");
mview_param("background", "#ffffff");
mview_param("molbg", "#ffffff");
mview_param("rows", "1");
mview_param("cols", "3");
mview_param("cell0", "|../../../mols-2d/l-tryptophan.csmol");
mview_param("cell1", "|../../../mols-2d/morphine.csmol");
mview_param("cell2", "|../../../mols-2d/dimethyl-octadien.csmol");
mview_end();
//-->
</script>
</center>

<blockquote>
<pre class="sh_javascript">
mview_name = &quot;MView&quot;;
mview_begin(&quot;../../..&quot;, 600, 200);
mview_param(&quot;tabScale&quot;, &quot;25&quot;);
mview_param(&quot;ezVisible&quot;, &quot;true&quot;);
mview_param(&quot;chiralitySupport&quot;, &quot;all&quot;);
mview_param(&quot;background&quot;, &quot;#ffffff&quot;);
mview_param(&quot;molbg&quot;, &quot;#ffffff&quot;);
mview_param(&quot;rows&quot;, &quot;1&quot;);
mview_param(&quot;cols&quot;, &quot;3&quot;);
mview_param(&quot;cell0&quot;, &quot;|../../../mols-2d/l-tryptophan.csmol&quot;);
mview_param(&quot;cell1&quot;, &quot;|../../../mols-2d/morphine.csmol&quot;);
mview_param(&quot;cell2&quot;, &quot;|../../../mols-2d/dimethyl-octadien.csmol&quot;);
mview_end();
</pre>
</blockquote>

<p>
<center><div class="lenia">&nbsp;</div></center>
<p>

So far, all the MarvinView examples have shown viewing related functionalities only.
It is also possible to <a HREF="editable.html">edit cells</a> in tables.

</body>
</html>
