a:visited {
    color: #b57faa;
}

a.btn {
    color: #000000;
}

.right-aligned {
    text-align: right;
}

.center-aligned {
    text-align: center;
}

.header {
    margin-top: 10px;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

.popover {
    width: 400px;
}

.popover-content ul {
    margin-bottom: 5px;
}

.page-header {
    margin-top: 5px;
}

.nav-tabs {
    margin-bottom: 0;
    padding-left: 20%;
} /* Override of default margin */

.tab-pane {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.tab-content > .active, .pill-content > .active {
    display: block;
    margin-top: -1px;
    min-height: 200px;
}

.well {
    background-color: #efe8d8;
}

.tab-message {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1.detail {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

div.header > h3 {
    margin: 5px;
}

.header dl {
    margin-top: 0;
    margin-bottom: 5px;
}

.dl-horizontal-wide dt {
    width: 200px;
}

.dl-horizontal-wide dd {
    margin-left: 210px;
}

.horizontal-block-list {
    list-style-type:   none;
}

.horizontal-block-list li {
    display: inline-block;
    width: 100px;
}

.examples {
    font-size: .9em;
}
.examples a {
    font-family: "Courier New", monospace;
    font-weight: bold;
}

/*#modalDiv {*/
    /*height: 640px;*/
    /*width: 560px;*/
    /*overflow: hidden;*/
/*}*/

/*#modalDiv div.modal-body {*/
    /*width: 550px;*/
    /*height: 480px;*/
    /*max-height: 500px;*/
    /*overflow: hidden;*/
    /*padding: 5px;*/
/*}*/

.bard-footer {
    margin-top: 30px;
    background-color: #f2f5f1;
    border: 1px solid #f2f5f1;
    margin-bottom: 20px;
}

.bard-footer-versioninfo {
    margin-top: 10px;
    vertical-align: middle;
}

.bard-footer .horizontal-block-list {
    margin-top: 10px;
    margin-left: 20px;
}

a.removeXMark {
    color: #EE0000;
    outline: none;
    text-decoration: none;
    font-size: 18;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


div.cntrcart {
    vertical-align: middle;
    text-align: justify;
    width: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
div.cntrcart img {
    display: block;
    margin: 0 auto;
}

div.leftofline {
    margin-left: 30px;
    float: left;
}
div.rightofline {
    margin-right: 30px;
    float: right;
}

.tab-content h3 {
    font-size: 16px;
    line-height: 20px;
}

.tab-content h3 small {
    font-size: 13px;
}

div.facets {
    background-color: #d4efcf;
    padding: 10px;
    border: 1px solid #d3d3d3;
}

.facets h2 {
    font-size: 1em;
    line-height: 2em;
    margin: 0;
    text-decoration: underline;
}

.facets form fieldset h3 {
    font-size: .9em;
    margin: 0;
    line-height: 2em;
}
.facets form fieldset label {
    margin: 0 10px 0 10px;
    font-size: .9em;
}
.facets input[type="submit"] {
    float: right;
}

ul.results > li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #d3d3d3;
}


.indicatorpanel {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    background: #ffffff;
    border:1px solid #111111;
    width: 200px;
    height: auto;
}


.panel {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    background: #ffffff;
    border:1px solid #111111;
    width: 330px;
    height: auto;
    padding: 30px 30px 30px 30px;
    background-color: #efe8d8;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tinyclickfordetails {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: xx-small;
    font-weight: bold;
    padding-left: 2px;
    margin: 2px;
}
.clicktohidequerycart {
    text-decoration: none;
    margin: 2px;
}

div.qcart  {
    background-color: #ddd;
}

span.qcartTitle  {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: x-large;
    font-weight: normal;
}
span.qcartResults  {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: medium;
    font-weight: bold;
}

table.QcartSubsection{
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
}

table.QcartAppearance  {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}
td.QcartAppearance  {
    padding-bottom: 10px;
}

div.QcartAppearance  {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    display: block;
}

div.addtocartholder{
    padding: 0;
    border: 0 none;
}
a.addtocart { //right
    width:200px;
    height: 200px;
}

img.addtocart {  //left
    width:200px;
    text-align: center;
}

span.addtocartholder{
    padding: 0;
    border: 0 none;
}
h3.addtocart {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: x-large;
    font-weight: normal;
}
span.addtocart {
    width:100px;
    float:right;
    font-size: medium;
    font-weight: normal;
    height: 100px;
    background-color:#ccf;
}
h3.addtocartdet {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: x-large;
    font-weight: normal;
}
span.addtocartfont {
    margin-left: 8;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: medium ;
    font-weight: bold;
}

button.visualizebutton  {
    height: 24px;
    width: 60px;
    text-align: left;
    border: 1px;
}
button.visualizebiggerbutton  {
    height:30px;
    text-align: center;
    vertical-align: middle;
}
table.leftofcenter {
    margin-left: 10px;
}
td.leftofcenter {
    margin-left: 50px;
    height: 26px;
}
div.wellmod {
    width: 100%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #efe8d8;
}
.vis-btn-group {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

table.molSpreadSheet{
    border: 1px black solid;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    color: black;
}
thead.molSpreadSheetHead{
    height: 60px;
    color: black;
}
tr.molSpreadSheetHead{
    height: 60px;
    color: black;
    font-weight: bold;
}
th.molSpreadSheetHead{
    height: 60px;
    width:  50px;
    font-weight: bold;
    color: black;
}
th.molSpreadSheetImg{
    text-align: center;
    width: 150px;
    height: 60px;
    background: #d3d3d3;
}
th.molSpreadSheetHeadCid{
    text-align: center;
    height: 60px;
    width:  80px;
    border-left: 1px solid;
    font-weight: bold;
    background: #d3d3d3;
}
th.molSpreadSheetHeadData{
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    height: 60px;
    width:  120px;
    font-weight: bold;
    border-left: 1px solid;
    background: #d3d3d3;
}

tr.molSpreadSheet{
    height: 120px;
}
tr.molSpreadSheetGray{
    height: 120px;
    background: #eeeeee;
}
td.molSpreadSheetImg{
    width: 150px;
    height: 120px;
    text-align: center;
}
td.molSpreadSheet{
    width: 45px;
    height: 120px;
    border-left: 1px solid;
    text-align: center;
}
