<html>
<head>
<meta NAME="author" CONTENT="Peter Csizmadia">
    <script type="text/javascript" src="../../sh_main.js"></script>
    <script type="text/javascript" src="../../sh_javascript.js"></script>
    <script type="text/javascript" src="../../sh_html.js"></script>
    <link REL ="stylesheet" TYPE="text/css" HREF="../../sh_nedit.css" TITLE="Style">
<link REL ="stylesheet" TYPE="text/css" HREF="../../../marvinmanuals.css" TITLE="Style">
<title>MarvinView Example - Compression, color, magnification, atom size, hydrogen labels</title>
</head>
<body onload="sh_highlightDocument();">

<h1>MarvinView Example - Compression, color, magnification, atom size, hydrogen labels</h1>

<p>

In this example we have changed some parameters to configure MarvinView.
The differences from the first example are enumerated below:
<ul>
<li>The molecule is downloaded from a compressed molfile
    (notice the <code>.csmol</code> extension).</li>
<li>The molecule has the same background color as the web page.</li>
<li>The atoms are in black and white (monochrome display).</li>
<li>The magnification of the zoom window (which appears if you click the
    molecule) is bigger.</li>
<li>Atom labels are bigger.</li>
<li>Hydrogens labels are shown for all the atoms.</li>
</ul>
<center>
<script type="text/javascript" SRC="../../../marvin.js"></script>
<script type="text/javascript">
<!--
mview_begin("../../..", 200, 200);
mview_param("mol", "../../../mols-2d/caffeine.csmol");
mview_param("molbg", "#ffffff");
mview_param("colorScheme", "mono");
mview_param("winScale", "50");
mview_param("atomsize", "0.5");
mview_param("implicitH", "all");
mview_end();
//-->
</script>
</center>


<blockquote>
<pre class="sh_html">
&lt;script type=&quot;text/javascript&quot; SRC=&quot;../../../<a HREF="../marvin.js.txt">marvin.js</a>&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
&lt;!--
</pre><pre class="sh_javascript">mview_begin(&quot;../../..&quot;, 200, 200);
mview_param(&quot;mol&quot;, &quot;../../../mols-2d/caffeine.csmol&quot;);
mview_param(&quot;molbg&quot;, &quot;#ffffff&quot;);
mview_param(&quot;colorScheme&quot;, &quot;mono&quot;);
mview_param(&quot;winScale&quot;, &quot;50&quot;);
mview_param(&quot;atomsize&quot;, &quot;0.5&quot;);
mview_param(&quot;implicitH&quot;, &quot;all&quot;);
mview_end();
</pre><pre class="sh_html">//--&gt;
&lt;/script&gt;
</pre>
</blockquote>

Description of the used parameters:
<ul>
    <li><a HREF="../../../help/developer/viewman.html#parameters.mol"><code>mol</code></a></li>
    <li><a HREF="../../../help/developer/viewman.html#parameters.molbg"><code>molbg</code></a></li>
    <li><a HREF="../../../help/developer/viewman.html#parameters.colorScheme"><code>colorScheme</code></a></li>
    <li><a HREF="../../../help/developer/viewman.html#parameters.winScale"><code>winScale</code></a></li>
    <li><a HREF="../../../help/developer/viewman.html#parameters.atomsize"><code>atomsize</code></a></li>
    <li><a HREF="../../../help/developer/viewman.html#parameters.implicitH"><code>implicitH</code></a></li>
</ul>


<center><div class="lenia">&nbsp;</div></center>
<p>

The next example continues showing <a HREF="configure2.html">configuration settings in 3D view</a>.

</body>
</html>
