.search-form{
    padding:10px 9px 10px;
    border:1px solid rgba(244, 244, 244, 0.8);
    background:rgba(228, 228, 228, 0.8);
}
.search-box{
    display:table;
    width:100%;
    margin: 1px;
}

.search-block{
    margin:0 auto;
    padding:0 0 11px;
}

.search-box .text-field,
.search-box .btn-field{
    display:inline-block;
    vertical-align:top;
}
.search-form input[type="text"],
.search-form input[type="search"]{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:39px;
    margin:0;
    padding:9px 11px 7px;
    border:3px solid #fff;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:14px;
    line-height:17px;
    background:#e4e4e4;
}
.search-box .btn-field{
    width:1px;
    white-space:nowrap;
    padding:0 0 0 2px;
}
.search-form .btn{line-height:39px;}
.search-block .links-holder{
    padding:0 21px 0 10px;
    font-weight:bold;
    font-size:15px;
    line-height:20px;
    letter-spacing:1px;
    overflow:hidden;
}
.search-block .links-holder a{
    position:relative;
    float:left;
    padding:0 15px 0 0;
}
.search-block .links-holder a:first-child{float:right;}
.search-block .links-holder a:after{
    content:'';
    position:absolute;
    top:50%;
    right:0;
    width:6px;
    height:8px;
    margin:-2px 0 0;
    background:url('../../images/bardHomepage/sprite.png') no-repeat -38px 0;
}
.search-block .links-holder a:hover:after{
    content:' ';
    background-position:-38px -12px;
}
.search-block .links-holder .download-link{padding-left:39px;}
.search-block .links-holder .download-link:before{
    content:'';
    position:absolute;
    top:50%;
    left:0;
    width:25px;
    height:18px;
    margin:-9px 0 0;
    background:url('../../images/bardHomepage/sprite.png') no-repeat -46px 0;
}
.search-block .links-holder .download-link:hover:before{
    content:' ';
    background-position:-74px 0;
}

.search-button {
    background: #0093d0;
    box-sizing: border-box;
    padding: 0 26px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font: 900 14px/42px "Lato", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: none;
    filter: none;
    display: inline-block;
    height: 39px;
}

.my-bard-button {
    background: #0093d0;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    color: #fff;
    margin: 5px;
}

.my-bard-button:hover {
    color: #000;
}

.search-box-row {
    display: table-row;
}

.search-box-button-cell {
    width:1px;
    display: table-cell;
}

.search-box-text-field-cell {
    display: table-cell;
}